body{
    margin: 0;
    padding: 0;
    background-color: rgb(120, 162, 199);
}

#grid-container{
    display: grid;
    width: 100%;
    background-color: rgb(165, 72, 95);
}

.grid-item {
    background: rgba(255, 255, 255, 0.95);
    border: solid 1px black;
    border-radius: 4px;
    padding: 12px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}



